@import url("/utilities/color.css");

html {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    color: var(--body-text-blue);
}

body {
    background-color: var(--bg-gray);
    margin: 0 auto;
    max-width: 600px;
}

.wrapper {
    padding: 25px;
}

.hero-img {
    position: fixed;
    z-index: -1;
    width: 100%;
    max-width: 600px; /*change width for desktop later*/
}

header {
    display: flex;
    justify-content: space-between;
    place-items: center;
}
h1 {
    font-size: 41px;
    letter-spacing: 9px;
    color: white;
    font-weight: 600;
}


/* FORM */

.todo-input {
    background-color: white;
    padding: 20px 25px;
    margin: 15px auto;
    border-radius: 7px;
    display: flex;
    flex-direction: row;

}

input[type="text"] {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    outline: none;
}

.todo-field {
    position: absolute;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    border: none;
}
.todo-form {
    display: flex; 
    gap: 10px;
    place-items: center;
}
.todo-circle {
    border: 1px solid rgb(195, 195, 195);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

/* TODO COMPLETE TOGGLE CLASS */
.checked {
    border: 1px solid gray;
    background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-circle > img {
    padding: 3.6px;
}

/* TODOS LIST */
.toDosWrapper {
    box-shadow: 5px 7px 10px rgba(211, 211, 211, 0.219);
    background: white;
    border-radius: 10px;
    padding: 10px;
}

/* ITEMS INFO */
.items-info {
    display: flex;
    justify-content: space-between;
    color: gray;
}

/* SHOW CATEGORIES */

.show-category {
    display: flex;
    justify-content: center;
    gap:15px;
    background-color: white;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 5px 7px 10px rgba(211, 211, 211, 0.219);
    border-radius: 10px;
}

.reorder {
    text-align: center;
    margin: 25px auto;
}



/* Attribution */
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%); 
}
